body{
    height: 100%;
    background-image:url("./backround.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.enterBtnDiv{
    justify-content: center;
    margin-top: 70vh;
    
}
.enterBtn:hover{
    border: none;
    border-radius: 3px;
    background-color:gold;
    font-size:large;
}
a{
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1.5em;
    font-style: bold;
    text-decoration: none;
    color: black;
}